body {
  background-color: #e7e5d8;
  padding: 3rem;
  height: 100vh;
  width: 100vw;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border: 3px solid #dba297;
  height: 100%;
  padding: 5rem;

}

.text {

  color: #333;
}
