.foto_casal {
  position: fixed; /* Garante que a imagem permaneça fixa na tela */
  top: 0;
  left: 0;
  width: 100vw; /* Largura igual ao tamanho da janela */
  height: 100vh; /* Altura igual ao tamanho da janela */
  background-image: url('../img/casal.png'); /* Substitua pelo caminho da sua imagem */
  background-position: center 40%; /* Move 10% para cima */
  background-size: cover; /* Faz a imagem preencher a tela */
  background-repeat: no-repeat; /* Impede repetição */
}
