body {
  height: 100vh;
  width: 100vw;
  background-color: rgba(61, 61, 61, 0);
  background-image:
    linear-gradient(0, rgb(246, 246, 246) 52%, rgba(219,151,151,0) 100%),
    url("../img/Flowers.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding: 2rem;

}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9rem;
  border-radius: 0.3rem;
  border: 2px solid rgb(209, 73, 39);
  padding: 2rem;
  height: 100%;
  width: 100%;
  overflow: clip auto;
}

.names {
  width: calc(10vw + 15rem);
}

.text, .subtitle {
  text-align: center;
  font-family: "Funnel Sans", sans-serif;
  font-size: 0.93rem;
}

.subtitle {
  font-size: 1.6rem;
  font-weight: 700;
  color: rgb(209, 73, 39);
}

.text {
  color: #333;
  font-family: "Playwrite IT Trad", sans-serif;
}

.date {
  font-weight: bold;
}

.buttonsContainer{
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.button {
  background-color: #D14927FF;
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer;
}

.button:hover {
  background-color: #b43d21;
  transition: 0.3s ease-in-out;
}
